@page "/invest/edit/{id:guid}"
@using Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Areas.Main.Pages.Invest.Edit

@{
    ViewData["Title"] = "Редагувати оголошення";
}
<link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet"/>

<hr/>
<div class="container">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Виправте наступні помилки:</strong>
            <ul>
                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    <form id="putPostForm" method="post" asp-route-id="@Model.Id" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-check form-switch mb-4">
            <input asp-for="Post.IsActive" class="form-check-input" id="IsActiveSwitch"/>
            <label class="form-check-label" for="IsActiveSwitch">Оголошення активне</label>
        </div>

        @await Html.PartialAsync("Invest/PostInvestFormModel", Model)

        @await Html.PartialAsync("PostLoadImage", Model)
        @await Html.PartialAsync("PostFormTranslations", Model.Post.Translations)
        @await Html.PartialAsync("PostFormTags", Model)
        @await Html.PartialAsync("PostFormLinks", Model)

        <button type="submit" class="btn btn-primary">Внести зміни</button>
    </form>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}