@page "/invest"
@model InvestList.Areas.Main.Pages.Invest.List

<div class="container mt-5">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-12 col-lg-6 mb-2">
                    @await Html.PartialAsync("_InvestCard", ad)
                </div>
            }
        </div>
    }
    else
    {
        <p>Немає оголошень</p>
    }

</div>
@if (Model.Entities != null && Model.Entities.Any())
{
    @await Html.PartialAsync("_Pagination", ("Invest", Model.PaginationInfo, Model.TagIds))
}