        @using System.Globalization
@using Core
@using Core.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Areas.Main.Pages.Invest.BaseInvestUpsertPage

<div class="row mb-4">
    <div class="form-group col-6">

        <div class="mb-4">
            <label asp-for="InvestPostPost.AnnualInvestmentReturn">Річна дохідність у %</label>
            <input asp-for="InvestPostPost.AnnualInvestmentReturn" class="form-control" type="number" step="0.01"/>
            <span asp-validation-for="InvestPostPost.AnnualInvestmentReturn" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <label asp-for="InvestPostPost.TotalInvestment">Загальний обсяг інвестицій (у $):</label>
            <input asp-for="InvestPostPost.TotalInvestment" class="form-control" type="number" step="0.01"/>
            <span asp-validation-for="InvestPostPost.TotalInvestment" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <div class="input-group flex-column gap-2">
                @{
                    @if (Model.InvestPostPost.MinInvestValues != null && Model.InvestPostPost.MinInvestValues.Any())
                    {
                        <h4>Minimum Investment Values</h4>
                        @for (int i = 0; i < Model.InvestPostPost.MinInvestValues.Count; i++)
                        {
                            <div class="form-group">
                                <label asp-for="InvestPostPost.MinInvestValues[i].Currency" class="form-label">
                                    @Model.InvestPostPost.MinInvestValues[i].Currency
                                </label>
                                <input type="hidden" asp-for="InvestPostPost.MinInvestValues[i].Currency"/>

                                <label asp-for="InvestPostPost.MinInvestValues[i].MinValue" class="control-label">Minimum Value</label>
                                <input asp-for="InvestPostPost.MinInvestValues[i].MinValue" class="form-control"/>
                                <span asp-validation-for="InvestPostPost.MinInvestValues[i].MinValue" class="text-danger"></span>
                            </div>
                        }
                    }
                }
            </div>
        </div>

    </div>

    <div class="form-group col-6 dur">
        <label>На який термін залучаються інвестиції (вкажіть кількість років та місяців):</label>

        <span asp-validation-for="InvestPostPost.InvestDurationYears" class="text-danger"></span>
        <div class="input-group mb-3">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
            <input asp-for="InvestPostPost.InvestDurationYears" type="number" min="0" class="form-control" placeholder="Кількість років"/>
        </div>

        <span asp-validation-for="InvestPostPost.InvestDurationMonths" class="text-danger"></span>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
            <input asp-for="InvestPostPost.InvestDurationMonths" type="number" min="0" max="11" class="form-control" placeholder="Кількість місяців"/>
        </div>
    </div>
</div>