@using DataAccess.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvestHub</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <!-- SVG logo here --> <a class="navbar-brand" asp-area="" asp-controller="Invest" asp-action="Index">InvestList Logo</a>
            </a>
        </div>
                
                <div class="d-flex">
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a class="nav-link  link-secondary" aria-current="page" asp-area="" asp-controller="Invest" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Інвестиції
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Шукають інвестиції</a></li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Мої заявки</a></li>
                                    <li><a asp-action="Create" class="dropdown-item">Створити заявку про пошук інвестицій</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                }
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-current="page" asp-controller="News" asp-action="Index">Новини</a>
                                
                            </a>
                            <ul class="dropdown-menu">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Мої новини</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a asp-action="Create" asp-controller="News" class="dropdown-item">Створити новину</a></li>
                                }
                            </ul>


                        <partial name="_LoginPartial" />
                    </ul>

                </div>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2">Login</button>
                    <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
                <!-- Right part -->
                <partial name="_Search" />

            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - InvestHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>