@model ListNewsViewModel

@{
    ViewData["Title"] = "Новини";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-6 col-lg-3 mb-3">
                    <a class="card-link" href="@Url.Action("Details", new { id = ad.Id })">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">@ad.Title</div>
                            </div>
                            <div class="card-body">
                                @if (ad.Tags != null && ad.Tags.Any())
                                {
                                    <div class="tags mb-3">
                                        @foreach (var field in ad.Tags)
                                        {
                                            <span class="badge bg-primary"># @field.Name</span>
                                        }
                                    </div>
                                }

                                <div>
                                    <i class="bi bi-calendar-range"></i>@ad.CreatedAt.ToString(" dd.MM.yyyy")
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <p>Немає новин</p>
    }

</div>
@await Html.PartialAsync("_NewsPagination", (Model.PaginationInfo, Model.FilterModel))
