@model IEnumerable<TagView>

<ul>
    @foreach (var tag in Model)
    {
        <li>@tag.Name</li>
    }
</ul>

<form asp-action="AddTag" asp-controller="Admin" method="post">
    <div class="form-group mb-1">
        <label>Назва тегу:</label>
        <textarea id="tagName" name="tagName" class="form-control"  rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Відправити</button>
</form>

<form asp-action="SubmitCustomHeader" asp-controller="Admin" method="post">
    <label>Виберіть список тегів для відображення у хедері</label>
    <div class="form-group col-6">
        @{
            if (Model?.Count() > 1)
            {
                <label>Теги</label>
                <select name="tagIds" class="form-control" multiple>
                    @foreach (var tag in Model)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
            }
        }
    </div>
    <button type="submit">Опублікувати новий хедер</button>
</form>