@model List<string>

<ul>
    @foreach (var tag in Model)
    {
        <li>@tag</li>
    }
</ul>

<form asp-action="AddTag" asp-controller="Admin" method="post">
    <div class="form-group mb-1">
        <label>Назва тегу:</label>
        <textarea id="tagName" name="tagName" class="form-control"  rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Відправити</button>
</form>