@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Models.Comment.PostCommentRequest

<form asp-action="Publish" asp-controller="Comment" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="PostId" value="@Model.PostId"/>
    <input type="hidden" asp-for="PostType" value="@Model.PostType"/>
    <div class="form-group mb-1">
        <label asp-for="Text">Коментар:</label>
        <textarea class="form-control" asp-for="Text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Відправити</button>
</form>