@using InvestList.Models.Comment
@using System.Security.Claims
@using DataAccess.Models
@model (Guid postId, PostType postType, IEnumerable<CommentView> comments)
@inject SignInManager<User> SignInManager


@if (!SignInManager.IsSignedIn(User))
{
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-primary me-2">Увійти</a>
        </div>
        <div class="col-12">
            <label class="form-check-label" for="inlineFormCheck">
                Для написання відгуку, будь ласка, увійдіть у свій обліковий запис
            </label>
        </div>
    </div>
}
else
{
    await Html.RenderPartialAsync("_CommentForm", new PostCommentRequest { PostId = Model.postId, PostType = Model.postType, UserId = new Guid(User.FindFirstValue(ClaimTypes.NameIdentifier)) });
}
@if (Model.comments?.Count() > 0)
{
    <div class="card-body p-4">

        @foreach (var comment in Model.comments.OrderByDescending(x => x.CreatedAt))
        {
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between mb-0">
                        <div class="creation-data">@comment.Author</div>
                        <div class="creation-data">@comment.CreatedAt.ToString("yy-MMM-dd HH:mm")</div>
                    </div>
                    <p class="card-text">@comment.Text</p>
                </div>
            </div>
        }
    </div>
}