@model (string pageFolder, IEnumerable<InvestList.Models.V2.PostView> similarPosts, IEnumerable<InvestList.Models.TagView> tags)

@if (Model.similarPosts != null && Model.similarPosts.Any())
{
    foreach (var similarPost in Model.similarPosts)
    {
        <div class="row">
            <a class="similar-content-link" asp-area="Main" asp-page=@($"/{Model.pageFolder}/Get") asp-route-id="@similarPost.Slug">
                <div class="similar-content-card">
                    <div class="similar-content-header mx-3 mt-2">
                        <div class="similar-content-title">@similarPost.Title</div>
                    </div>
                    <hr>
                    <div class="mx-3">
                        @if (similarPost.Tags != null && similarPost.Tags.Any())
                        {
                            <div class="tags mb-3">
                                @foreach (var field in similarPost.Tags)
                                {
                                    <span class="tag_index mt-2 mx-0">@field.Name</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </a>
        </div>
    }
}