@using DataAccess.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
        </a>
        <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">@User.Identity?.Name!</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Invest", new { area = "" })">Вийти</a></li>
        </ul>
    </div>
}
else
{
    <div class="d-flex flex-wrap">
        <a href="@Url.Action("Index", "Login")" class="btn btn-outline-primary me-2" rel="nofollow">Увійти</a>
        <a href="@Url.Action("Index", "Register")" class="btn btn-primary" rel="nofollow">Зареєструватися</a>
    </div>
}



