@model (IEnumerable<InvestList.Models.News.GetNewsViewModel> similarNews, IEnumerable<TagView> tags)

@if (Model.similarNews != null && Model.similarNews.Any())
{
    <p>Схожі оголошення</p>
    foreach (var similarInvest in Model.similarNews)
    {
        <div class="row">
            <a class="card-link" href="@Url.Action("Details", "News", new { id = similarInvest.Id })">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">@similarInvest.Title</div>
                    </div>
                    <div class="card-body">
                        @if (similarInvest.Tags != null && similarInvest.Tags.Any())
                        {
                            <div class="tags mb-3">
                                @foreach (var field in similarInvest.Tags)
                                {
                                    <span class="badge bg-primary"># @field.Name</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </a>
        </div>
    }

    <a href="@Url.Action("Index", "News", new { tagIds = Model.tags.Select(x => x.Id) })">Більше новин...</a>
}