@page "/blacklist/create"
@model InvestList.Areas.Main.Pages.Blacklist.Create
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Створити Blacklist";
    ViewData["DisplayNoIndexTag"] = true;
}

<h2 class="mb-4">Створення новини</h2>

<form id="putPostForm" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-check form-switch mb-4">
        <input asp-for="Post.IsActive" class="form-check-input" id="IsActiveSwitch" />
        <label class="form-check-label" for="IsActiveSwitch">Новина активна</label>
    </div>


    @await Html.PartialAsync("PostLoadImage", Model)
    @await Html.PartialAsync("PostFormTranslations", Model.Post.Translations)
    @await Html.PartialAsync("PostFormTags", Model)
    @await Html.PartialAsync("PostFormLinks", Model)

    <div class="text-end mt-4">
        <button type="submit" class="btn btn-success px-5">Зберегти</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}