@page "/blacklist/edit/{id:guid}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Areas.Main.Pages.Blacklist.Edit

@{
    ViewData["Title"] = "Редагувати Blacklist";
}

<hr/>
<div class="container">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Виправте наступні помилки:</strong>
            <ul>
                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form id="putPostForm" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        @await Html.PartialAsync("PostIsActive", Model)
        @await Html.PartialAsync("PostIsSubscription", Model)

        @await Html.PartialAsync("PostLoadImage", Model)
        @await Html.PartialAsync("PostFormTranslations", Model.Post.Translations)
        @await Html.PartialAsync("PostFormTags", Model)
        @await Html.PartialAsync("PostFormLinks", Model)

        <div class="text-end mt-4">
            <button type="submit" class="btn btn-success px-5">Зберегти</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}