@page "/blacklist/{id}"
@using Radar.UI
@using Radar.UI.Pages.Shared.Get
@model InvestList.Areas.Main.Pages.Blacklist.Get

<div class="container mb-4">
    @if (Model.CanUserEdit)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Post.Id" class="btn btn-primary me-2">Редагувати</a>
    }

    <a asp-page="./List" class="btn btn-secondary">Повернутись до списку</a>
</div>
<div class="row">
    <div class="col-8">
        <h1>@Model.Post.Title</h1>
        @await Html.PartialAsync("Get/PostTags", Model.Post.Tags)
        @await Html.PartialAsync("Get/PostImage", Model.Post.Image)
        <div class="row mb-4">
            <div class="well col-12">
                <pre>@Model.Post.Description</pre>
            </div>
        </div>
        @await Html.PartialAsync("Get/PostLinks", Model.Post.Links)
        @await Html.PartialAsync("_DisplayComments", (Model.Post.Id, Model.Post.PostType, Model.Post.Comments))

    </div>
    <div class="col-4">
        @await Html.PartialAsync("Get/PostSimilarSection", (
            new GetCustomizationSimilarContent
            {
                Title = "Схожі новини",
                BaseUrlPrefix = "News",
                MoreContentTitle = "Більше новини..."
            }, Model.Post.SimilarNews, Model.Post.Tags))
        <hr/>
        @await Html.PartialAsync("Get/PostSimilarSection", (
            new GetCustomizationSimilarContent
            {
                Title = "Схожі оголошення",
                BaseUrlPrefix = "Invest",
                MoreContentTitle = "Більше оголошень..."
            }, Model.Post.SimilarInvests, Model.Post.Tags))

    </div>
</div>