@page "/blacklist"
@model InvestList.Areas.Main.Pages.Blacklist.List

<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="masonry">
            @foreach (var ad in Model.Entities)
            {
                <div class="masonry-item">
                    @await Html.PartialAsync("List/_PostCard", ("Blacklist", ad))
                </div>
            }
        </div>
    }
    else
    {
        <p>Немає новин про шахраїв</p>
    }

</div>
@if (Model.Entities != null && Model.Entities.Any())
{
    @await Html.PartialAsync("_Pagination", ("blacklist", Model.PaginationInfo, Model.TagIds))
}