@page "/news/create"
@model InvestList.Areas.Main.Pages.News.Create
@{
ViewData["Title"] = "Створення новини";
}

<h2 class="mb-4">Створення новини</h2>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-check form-switch mb-4">
        <input asp-for="Post.IsActive" class="form-check-input" id="IsActiveSwitch" />
        <label class="form-check-label" for="IsActiveSwitch">Новина активна</label>
    </div>


    @await Html.PartialAsync("PostLoadImage", Model)
    @await Html.PartialAsync("PostFormTranslations", Model.Post.Translations)
    @await Html.PartialAsync("PostFormTags", Model)
    @await Html.PartialAsync("PostFormLinks", Model)

    <div class="text-end mt-4">
        <button type="submit" class="btn btn-success px-5">Зберегти</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
    <script src="~/js/handleImageUpload.js"></script>
    <script src="~/js/description-text.js"></script>
    <script src="~/js/add-links.js"></script>
}