@page "/news/create"
@model InvestList.Areas.Main.Pages.News.Create
@using Common
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Створити новину";
    ViewData["DisplayNoIndexTag"] = true;
}

<hr/>
<div class="container">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <strong>Виправте наступні помилки:</strong>
            <ul>
                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-group d-flex mb-3 align-items-center">
            <input type="checkbox" class="bigger-checkbox" asp-for="Post.IsActive" checked="checked"/>
            <label asp-for="@Model.Post.IsActive">Новина буде відображена після публікації</label>
        </div>
        <div class="row mb-4">
            <div class="form-group col-6">
                <div class="mb-4">
                    <p asp-for="Title">Назва новини</p>
                    <input asp-for="Post.Title" class="form-control" placeholder="Вкажіть не менше 10 символів, не більше 200 символів"/>
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-6">
                <div class="mb-4">
                    <p asp-for="Title">SEO оптимізована назва</p>
                    <input asp-for="Post.TitleSeo" class="form-control" placeholder="Вкажіть не менше 10 символів, не більше 200 символів"/>
                    <span asp-validation-for="Post.TitleSeo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-6">
                <label>Завантажте фото:</label>
                <input id="imageFileInput" type="file" class="form-control mb-2" placeholder="Виберіть файл"/>
                <button id="removePhotoButton" type="button" class="btn btn-outline-danger mb-2" style="display: none;">Видалити фото</button>
                <img id="uploadedImage" src="#" alt="Investment Image" class="img-fluid resized-image mb-2" style="display: none;"/>
                <input asp-for="Post.ImageBase64" id="ImageBase64" type="hidden"/>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group">
                <label asp-for="Post.Description">Опис</label>
                <textarea rows="10" asp-for="Post.Description" class="form-control"></textarea>
            </div>
        </div>

        <div class="row mb-4">
            <div class="form-group">
                <label asp-for="Post.DescriptionSeo">SEO оптимізований опис</label>
                <textarea rows="10" asp-for="Post.DescriptionSeo" class="form-control"></textarea>
            </div>
        </div>

        <div class="row mb-4">
            <div class="form-group col-6">
                <span asp-validation-for="AvailableTags" class="text-danger"></span>

                @{
                    if (Model.AvailableTags != null)
                    {
                        <label asp-for="AvailableTags">Теги</label>
                        <select rows="40" name="Post.TagIds" asp-items="Model.AvailableTags" multiple="multiple" class="listbox"></select>
                    }
                }

            </div>
        </div>
        <button type="button" class="btn btn-secondary" id="addInputsBtn">Додати посилання</button>
        <div id="inputsContainer">
        </div>

        <button type="submit" class="btn btn-primary">Внести зміни</button>
        <a asp-action="Index" class="btn btn-secondary">Повернутись до списку</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/handleImageUpload.js"></script>
    <script src="~/js/add-links.js"></script>
}