@page "/news/create"
@model InvestList.Areas.Main.Pages.News.Create
@{
ViewData["Title"] = "Створення новини";
}

<h2 class="mb-4">Створення новини</h2>

<form id="putPostForm" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()


    @await Html.PartialAsync("PostIsActive", Model)
    @await Html.PartialAsync("PostIsSubscription", Model)
    @await Html.PartialAsync("PostLoadImage", Model)
    @await Html.PartialAsync("PostFormTranslations", Model.Post.Translations)
    @await Html.PartialAsync("PostFormTags", Model)
    @await Html.PartialAsync("PostFormLinks", Model)

    <div class="text-end mt-4">
        <button type="submit" class="btn btn-success px-5">Зберегти</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}