@page "/news/{id}"
@using InvestList
@using Radar.UI.Pages.Shared.Get
@model InvestList.Areas.Main.Pages.News.Get

<div class="container mb-4">
    @if (Model.CanUserEdit)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Post.Id" class="btn btn-primary me-2">Редагувати</a>
    }

    <a asp-page="./List" class="btn btn-secondary">Повернутись до списку</a>
</div>
<div class="row">
    <div class="col-8">
        <h1>@Model.Post.Title</h1>
        @await Html.PartialAsync("Get/PostTags", Model.Post.Tags)
        @await Html.PartialAsync("Get/PostImage", Model.Post.Image)
       
       
        <div class="row mb-4">
            <pre class="invest-get-body md:order-1 order-2">
                @Html.Raw(Model.Post.Description)
            </pre>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7409000941565147"
                    crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-7409000941565147"
                 data-ad-slot="4714245053"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        @await Html.PartialAsync("Get/PostLinks", Model.Post.Links)
        @await Html.PartialAsync("_DisplayComments", (Model.Post.Id, Model.Post.PostType, Model.Post.Comments))

    </div>
    <div class="col-4">
        @await Html.PartialAsync("Get/PostSimilarSection", (
            new GetCustomizationSimilarContent
            {
                Title = "Схожі новини",
                BaseUrlPrefix = "News",
                MoreContentTitle = "Більше новини..."
            }, Model.Post.SimilarNews, Model.Post.Tags))
        <hr/>
        @await Html.PartialAsync("Get/PostSimilarSection", (
            new GetCustomizationSimilarContent
            {
                Title = "Схожі оголошення",
                BaseUrlPrefix = "Invest",
                MoreContentTitle = "Більше оголошень..."
            }, Model.Post.SimilarNews, Model.Post.Tags))
       
    </div>
</div>

<script>
    window.onload = function() {
        var shareUrl = encodeURIComponent(window.location.href);
        tg_share.href ='https://t.me/share/url?url=' + shareUrl;
    }
</script>