@page "/news"
@using InvestList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Areas.Main.Pages.News.List

<div class="container">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-12 col-lg-6 mb-4">
                    @await Html.PartialAsync("_PostCard", ad)
                </div>
            }
        </div>
    }
    else
    {
        <p>Немає оголошень</p>
    }

</div>
@if (Model.Entities != null && Model.Entities.Any())
{
    @await Html.PartialAsync("_Pagination", ("News", Model.PaginationInfo, Model.TagIds))
}