@page "/news"
@using InvestList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model InvestList.Areas.Main.Pages.News.List

<div class="container mt-5">
    @if (Model.Entities != null && Model.Entities.Any())
    {
        <div class="row">
            @foreach (var ad in Model.Entities)
            {
                <div class="col-12 col-lg-6 mb-2">
                    @await Html.PartialAsync("_PostCard", ("News", ad))
                </div>
            }
            <div class="col-12 col-lg-6 mb-2">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7409000941565147"
                        crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-er-s-6z-ez+1nt"
                     data-ad-client="ca-pub-7409000941565147"
                     data-ad-slot="8518592844"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7409000941565147"
                        crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-eq-v-6o-e6+1l7"
                     data-ad-client="ca-pub-7409000941565147"
                     data-ad-slot="6073189060"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    }
    else
    {
        <p>Немає оголошень</p>
    }
    
</div>
@if (Model.Entities != null && Model.Entities.Any())
{
    @await Html.PartialAsync("_Pagination", ("News", Model.PaginationInfo, Model.TagIds))
}