@page
@model ExternalLoginModel
@{
    ViewData["Title"] = $"Реєстрація через {Model.ProviderDisplayName}";
}

<div class="d-flex flex-column align-items-center">
    <p id="external-login-description" class="text-info">
        Ви успішно авторизувались за допомогою <strong>@Model.ProviderDisplayName</strong>.
        Будь ласка, введіть цей емейл для цього сайту і натисність "Зареєструватися", щоб завершити реєстрація.
    </p>
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Зареєструватися</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}