@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Підвердження про надсилання паролю";
}

<div class="d-flex justify-content-center">
    <p>
        Перевірте вашу пошту аби скинути пароль.
    </p>
</div>