@page
@model LoginModel
@{
    ViewData["Title"] = "Увійти в аккаунт";
}

<div class="container flex-column justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form id="loginForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-4">
                    <img class="mb-4" src="~/ico/logo3.png" alt="" width="57" height="57">
                    <h1 class="h3 mb-3 font-weight-normal">Увійдіть до свого облікового запису</h1>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Електронна пошта" required autofocus/>
                    <label asp-for="Input.Username">Ваш Username</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Пароль" aria-required="true"/>
                    <label asp-for="Input.Password" class="form-label">Пароль</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" asp-for="Input.RememberMe"/> Запам'ятати мене
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Увійти</button>

                <input type="hidden" id="timeSpent" asp-for="Input.TimeSpent"/>
                <input type="hidden" id="mouseMoved" asp-for="Input.MouseMoved"/>
                <input type="hidden" id="navigatorWebdriver" asp-for="Input.NavigatorWebdriver"/>
                <input type="hidden" id="hasChrome" asp-for="Input.HasChrome"/>
                <input type="hidden" id="screenHeight" asp-for="Input.ScreenHeight"/>
                <input type="hidden" id="screenWidth" asp-for="Input.ScreenWidth"/>
            </form>
        </div>
    </div><br>

    @await Html.PartialAsync("_ExternalLogin", (Model.ExternalLogins, Model.ReturnUrl))

    <div class="d-flex flex-column align-items-center">
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Забули пароль?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зареєструватися</a>
        </p>
        <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Відправити повторний емейл</a>
        </p>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

<script>
    let startTime = Date.now();
    let mouseMoved = false;

    document.addEventListener("mousemove", () => { mouseMoved = true; });

    function collectData() {
        let timeSpent = Date.now() - startTime;
        let isBot = navigator.webdriver || !!window.chrome === false;

        document.getElementById("timeSpent").value = timeSpent;
        document.getElementById("mouseMoved").value = mouseMoved;
        document.getElementById("navigatorWebdriver").value = navigator.webdriver;
        document.getElementById("hasChrome").value = !!window.chrome;
        document.getElementById("screenHeight").value = screen.height;
        document.getElementById("screenWidth").value = screen.width;
    }

    document.getElementById("loginForm").addEventListener("submit", collectData);
</script>
}