@page
@model LoginModel
@{
    ViewData["Title"] = "Увійти в аккаунт";
}

<!-- PAGE WRAPPER -->
<div class="container py-5">
    <!-- External providers -->
    <div class="mt-4 d-flex justify-content-center">
        @await Html.PartialAsync("_ExternalLogin", (Model.ExternalLogins, Model.ReturnUrl))
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}