@page
@model InvestList.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Вийти з аккаунту";
}

<div class="d-flex justify-content-center">
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <h2><button type="submit" class="nav-link btn btn-link text-dark">Натисність сюди аби вийти</button></h2>
            </form>
        }
        else
        {
            <p>Ви успішно вийшли з облікового запису.</p>
        }
    }
</div>