@page
@model InvestList.Areas.Identity.Pages.Account.PasswordChangeModel

@{
    ViewData["Title"] = "Змінити пароль";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.TempData["ErrorMessage"]</div>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success">@Model.TempData["SuccessMessage"]</div>
}

<div id="passwordForm" class="form-container">
    <h4>Змінити пароль</h4>
    <form method="post">
        <div class="form-group mb-1">
            <input asp-for="CurrentPassword" placeholder="Пароль" class="form-control mb-1" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-1">
            <input asp-for="NewPassword" placeholder="Новий пароль" class="form-control mb-1" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-1">
            <input asp-for="ConfirmPassword" placeholder="Повторіть пароль" class="form-control mb-1" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Зберегти</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
