@page
@model ProfileModel
@{
    ViewData["Title"] = "Профіль";
}

<button type="submit" class="btn btn-primary">
    <a asp-area="Identity" asp-page="/Account/LoginChange" style="color: black;" rel="follow">Змінити логін</a>
</button>
<button type="submit" class="btn btn-primary">
    <a asp-area="Identity" asp-page="/Account/PasswordChange" style="color: black;" rel="follow">Змінити пароль</a>
</button>
<button type="submit" class="btn btn-primary">
    <a asp-area="Identity" asp-page="/Account/DeleteAccount" style="color: black;" rel="follow">Видалити акаунт</a>
</button>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
