@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження про реєстрацію";
}

<div class="d-flex justify-content-center">
    <h2 class="text-center">
        Вам на пошту прийшов лист. Перейдіть за посиланням аби підтвердити ваш аккаунт
    </h2>
</div>