@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження про реєстрацію";
}

<div class="d-flex justify-content-center">
    <h2 class="text-center">
        <pre>
        Дякуємо за реєстрацію!

        Ваші дані успішно надіслані. Щоб завершити процес реєстрації, будь ласка, відкрийте свою електронну пошту та підтвердіть адресу.

        Якщо ви не бачите нашого листа, перевірте папку "Спам" або "Промоакції".
        </pre>
    </h2>
</div>