@page
@model RegisterModel
@{
    ViewData["Title"] = "Зареєструватися";
}

<div class="d-flex flex-column justify-content-center">
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Створити новий обліковий запис.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Електронна пошта"/>
                <label asp-for="Input.Email">Електронна пошта</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Електронна пошта"/>
                <label asp-for="Input.Username">Ім'я користувача, що відображатиметься на сайті</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Пароль"/>
                <label asp-for="Input.Password">Пароль</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Підтвердіть пароль"/>
                <label asp-for="Input.ConfirmPassword">Підтвердіть пароль</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зареєструватися</button>
        </form>
        <br>
    </div>
    @await Html.PartialAsync("_ExternalLogin", (Model.ExternalLogins, Model.ReturnUrl))
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}