@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Успішно відновлений доступ";
}

<div class="d-flex justify-content-center">
    <p class="text-center">
        Ваш пароль успішно зміненно. <a asp-page="./Login">Натисність сюди аби увійти в аккаунт</a>.
    </p>
</div>